.boxOLDDD {
    max-inline-size:fit-content;
    height:auto;
    margin: 50px auto;
    border-radius: 15px;
    background: #00bfb6;
    color: #fff;
    padding: 20px;
    text-align: left;
    font-weight: 900;
    font-family: arial;
    position: relative;
    aspect-ratio:auto;

}

/*adding this for contacts list view*/
.my-custom-scrollbar {
    position: relative;
    height: 700px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.box {
    height: 100px;
    width: 200px;
    border: 1px solid gray;
    overflow: hidden;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0.85;
}

.tb {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

    .tb > li:nth-child(odd) {
        background-color: #D2D2D2;
    }

    .tb > li:nth-child(even) {
        background-color: transparent;
    }

.msg_container_base {
    background: #FAF9F6;
    margin: 0;
    padding: 0 10px 10px;
    max-height: 70vh;
    overflow-x: hidden;
    height: 80%;
    elevation: higher;
    
}

.top-bar {
    background: #6050dc;
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.msg_receive {
    padding-left: 0;
    margin-left: 0;
    background-color: #ffe4e1;
    color:black;
}

.msg_sent {
    /* padding-bottom: 20px !important;  #e63e62 */

    margin-right: 0;
    background-color: #6050dc;
    color:white
}

.messages {

    
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    
}

#txtMessageInput {
    border-radius: 8px;
}


.messages > p {
    font-size: large;
    margin: 0 0 0.2rem 0;
}

    .messages > time {
        font-size: 11px;
        color: #ccc;
    }

.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
    
}

img {
    display: block;
    width: 100%;
}

.avatar {
    position: relative;
}

.base_receive {
    
}

.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
    justify-content: flex-end;
    align-items: flex-end;
    
}

    .base_sent > .avatar:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border: 5px solid white;
        border-right-color: transparent;
        border-top-color: transparent;
        box-shadow: 1px 1px 2px rgba(black, 0.2);
    }

.msg_sent > time {
    float: right;
}

.msg_container_base::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.btn-group.dropup {
    position: fixed;
    left: 0px;
    bottom: 0;
}

.box3 {
    max-width:100%;
    /*width: 300px;*/
    /*margin: 50px auto;*/
    border-radius: 15px;
    background: #6050dc;
    color: #fff;
    padding: 20px;
    text-align: left;
    position: relative;
}


/* speech bubble 13 */

.sb13:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid #6050dc;
    border-right: 15px solid transparent;
    border-top: 15px solid #6050dc;
    border-bottom: 15px solid transparent;
    right: -16px;
    top: 0px;
}


.box4 {
    max-width: 100%;
    /*width: 300px;*/
    /*margin: 50px auto;*/
    border-radius: 15px;
    background: #fb607f;
    color: #fff;
    padding: 20px;
    text-align: left;
    position: relative;
}

.sb14:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #fb607f;
    border-top: 15px solid #fb607f;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;
}


