@page "/"

<div class="pb-5" style="position:relative;top:6%;left:55%;margin-top:100px; margin-left:-220px">
    <h1 style="color: #6050dc;"><b>Chat App <i style="color: #fb607f" class="far fa-comment-dots fa-7x"></i></b></h1>

</div>


@code {

}
