@page "/sorry"

<div class="pb-5" style="position:relative;top:6%;left:10%;margin-top:100px; margin-left:-180px">
    <h4 style="text-align:center">We're sorry to see you go, please come back soon!</h4>
</div>

<div class="pb-5" style="position:relative;top:15%;left:45%;margin-top:100px; margin-left:-180px">
    <img src="./images/sad.png" alt="Alternate Text" />
</div>

@code {




}
